.app-contianer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;   
}

::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

::-webkit-scrollbar-thumb {
  background-color: #76757d;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
