:root {
    --font-family: Arial, sans-serif;
    --font-size: 16px;
    --line-height: 1.5;
    --spacing: 1rem;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
    overscroll-behavior-y: none;
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
  }